html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
}

header p {
    font-size: 5rem;
    font-weight: bold;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

#result {
    max-width: 960px;
    margin: 0auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.joueur {
    width: 30%;
}

.joueur img {
    max-width: 70%;
}

